/* Light mode */
body.light {
  background-color: rgb(202, 192, 192);
  color: black;
}

/* Dark mode */
body.dark {
  background-color: #222;
  color: white;
}

/* Style button */
button {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
}

main{
  text-align: center;

}
